In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../Data/01_raw/data.csv")
df.sample(10)

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
11287,Layup Shot,Layup,181,20601133,34.0443,0,0,-118.2698,8,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2007-04-06,LAL @ SEA,SEA,11288
20786,Jump Bank Shot,Jump Shot,446,21201032,33.9923,-8,52,-118.2778,3,4,...,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2013-03-22,LAL vs. WAS,WAS,20787
25181,Jump Shot,Jump Shot,420,29900327,34.0113,27,33,-118.2428,2,4,...,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,1999-12-17,LAL @ MIN,MIN,25182
26034,Running Jump Shot,Jump Shot,368,29901039,34.0673,-119,-23,-118.3888,10,4,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-03-31,LAL vs. PHI,PHI,26035
6440,Driving Layup Shot,Layup,94,20400158,34.0443,0,0,-118.2698,2,1,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2004-11-23,LAL vs. MIL,MIL,6441
18518,Jump Shot,Jump Shot,531,21100241,33.7453,-2,299,-118.2718,0,4,...,3PT Field Goal,Center(C),Above the Break 3,24+ ft.,1610612747,Los Angeles Lakers,2012-01-22,LAL vs. IND,IND,18519
7964,Jump Shot,Jump Shot,36,20500244,34.0553,154,-11,-118.1158,7,1,...,2PT Field Goal,Right Side(R),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2005-12-04,LAL vs. CHA,CHA,7965
19769,Jump Shot,Jump Shot,325,21200263,33.9023,218,142,-118.0518,5,3,...,3PT Field Goal,Right Side Center(RC),Above the Break 3,24+ ft.,1610612747,Los Angeles Lakers,2012-12-05,LAL @ NOH,NOH,19770
14493,Running Jump Shot,Jump Shot,215,20800948,33.9703,-29,74,-118.2988,1,2,...,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2009-03-09,LAL @ POR,POR,14494
19297,Jump Shot,Jump Shot,135,21100784,33.8993,129,145,-118.1408,1,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2012-04-01,LAL vs. GSW,GSW,19298

In [3]:
df.describe()

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id,shot_id
count,30697.000000,3.069700e+04,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,25697.000000,3.069700e+04,30697.000000
mean,249.190800,2.476407e+07,33.953192,7.110499,91.107535,-118.262690,4.885624,2.519432,0.146562,28.365085,13.437437,0.446161,1.610613e+09,15349.000000
std,150.003712,7.755175e+06,0.087791,110.124578,87.791361,0.110125,3.449897,1.153665,0.353674,17.478949,9.374189,0.497103,0.000000e+00,8861.604943
min,2.000000,2.000001e+07,33.253300,-250.000000,-44.000000,-118.519800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.610613e+09,1.000000
25%,110.000000,2.050008e+07,33.884300,-68.000000,4.000000,-118.337800,2.000000,1.000000,0.000000,13.000000,5.000000,0.000000,1.610613e+09,7675.000000
50%,253.000000,2.090035e+07,33.970300,0.000000,74.000000,-118.269800,5.000000,3.000000,0.000000,28.000000,15.000000,0.000000,1.610613e+09,15349.000000
75%,368.000000,2.960047e+07,34.040300,95.000000,160.000000,-118.174800,8.000000,3.000000,0.000000,43.000000,21.000000,1.000000,1.610613e+09,23023.000000
max,659.000000,4.990009e+07,34.088300,248.000000,791.000000,-118.021800,11.000000,7.000000,1.000000,59.000000,79.000000,1.000000,1.610613e+09,30697.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         30697 non-null  object
 1   combined_shot_type  30697 non-null  object
 2   game_event_id       30697 non-null  int64
 3   game_id             30697 non-null  int64
 4   lat                 30697 non-null  float64
 5   loc_x               30697 non-null  int64
 6   loc_y               30697 non-null  int64
 7   lon                 30697 non-null  float64
 8   minutes_remaining   30697 non-null  int64
 9   period              30697 non-null  int64
 10  playoffs            30697 non-null  int64
 11  season              30697 non-null  object
 12  seconds_remaining   30697 non-null  int64
 13  shot_distance       30697 non-null  int64
 14  shot_made_flag      25697 non-null  float64
 15  shot_type           30697 non-null  object
 16  shot_zone_area      30697 non-null  object
 17  shot_zone_basic     30697 non-null  object
 18  shot_zone_range     30697 non-null  object
 19  team_id             30697 non-null  int64
 20  team_name           30697 non-null  object
 21  game_date           30697 non-null  object
 22  matchup             30697 non-null  object
 23  opponent            30697 non-null  object
 24  shot_id             30697 non-null  int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.9+ MB

In [5]:
df.isnull().sum()

action_type              0
combined_shot_type       0
game_event_id            0
game_id                  0
lat                      0
loc_x                    0
loc_y                    0
lon                      0
minutes_remaining        0
period                   0
playoffs                 0
season                   0
seconds_remaining        0
shot_distance            0
shot_made_flag        5000
shot_type                0
shot_zone_area           0
shot_zone_basic          0
shot_zone_range          0
team_id                  0
team_name                0
game_date                0
matchup                  0
opponent                 0
shot_id                  0
dtype: int64

In [6]:
df.dropna(inplace=True )
df.shape

(25697, 25)

In [7]:
df_2pt = df.loc[df['shot_type'] == "2PT Field Goal"]
df_2pt.shape

(20285, 25)

In [8]:
df_2pt = df_2pt[['lat','lon', 'minutes_remaining', 'period', 'playoffs','shot_distance', 'shot_made_flag' ]]
df_2pt.sample(10)

,lat,lon,minutes_remaining,period,playoffs,shot_distance,shot_made_flag
12444,34.0443,-118.2698,6,1,0,0,1.0
2695,34.0373,-118.2128,8,1,0,5,0.0
17632,33.9663,-118.2968,5,2,0,8,1.0
8331,34.0443,-118.2698,8,3,0,0,0.0
20541,34.0443,-118.2698,3,4,0,0,1.0
942,34.0443,-118.2698,5,3,0,0,1.0
6105,34.0443,-118.2698,9,3,0,0,1.0
14039,34.0223,-118.2118,3,3,0,6,1.0
23136,34.0443,-118.2698,7,4,1,0,1.0
2205,34.0503,-118.1488,7,1,0,12,1.0

In [13]:
df_2pt.to_parquet(path="../../Data/processed/data_filtered")